/* Gradient tab */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container {
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg,
            #fc6c8f,
            #ff2ced,
            #ffb86c,
            #2cccff,
            #20e3b2,
            #ffcc70,
            #c850c0,
            #4158d0);
    animation: gradient 5s ease alternate infinite;
    height: 3px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item.checked .active-item-indicator:before {
    border: 0;
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, #fc6c8f, #ff2ced);
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .badge .badge-content {
    background-image: linear-gradient(45deg, #fc6c8f, #ff2ced);
}

/* Menubar */
.monaco-workbench .menubar .toolbar-toggle-more,
.monaco-workbench .menubar>.menubar-menu-button {
    color: #6272a4;
}

/* Curor */
/* .cursors-layer .cursor {
    background-image: linear-gradient(to top, #6a5af9, #d66efd, #fc6c8f, #ff2ced);
} */

/* Scrollbar */
.monaco-scrollable-element>.scrollbar>.slider {
    width: 4px !important;
    right: 2px !important;
    left: auto !important;
    min-height: 100px;
    max-height: 200px;
}

.monaco-scrollable-element>.scrollbar:hover .slider {
    width: 5px !important;
    opacity: 0.4;
    border-radius: 1px !important;
}

/* SQL */

div[data-mode-id="sql"] .monaco-editor .bracket-highlighting-0 {
    color: #2cccff;
    text-shadow: 0 0 10px #2cccff;
}

div[data-mode-id="sql"] .mtk1 {
    color: #2cccff;
    /* text-shadow: 0 0 10px #2cccff; */
}

div[data-mode-id="sql"] .mtk4 {
    color: #fc6c8f;
}

div[data-mode-id="sql"] .mtk14 {
    color: #daaa65;
}

div[data-mode-id="sql"] .mtk15 {
    color: #ff6bcb;
    text-transform: uppercase;
}

div[data-mode-id="sql"] .mtk10 {
    color: #ffb86c;
    text-transform: uppercase;
}

/* HTML */

div[data-mode-id="html"] .mtk5 {
    color: #7199ee;
    /* text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa; */
}

div[data-mode-id="html"] .mtk14 {
    color: #daaa65;
}

div[data-mode-id="html"] .mtk15 {
    color: #e2687e;
}

div[data-mode-id="html"] .mtk13 {
    /* color: #6fc049; */
    color: #20e3b2;
    text-shadow: 0 0 10px #2cccff;
}

div[data-mode-id="html"] .mtk14 {
    color: #daaa65;
}

/* CPP */

div[data-mode-id="cpp"] .mtk5 {
    color: #9a86fd;
}

div[data-mode-id="cpp"] .mtk14 {
    color: #daaa65;
}

div[data-mode-id="cpp"] .mtk15 {
    color: #7199ee;
}

div[data-mode-id="cpp"] .mtk1 {
    color: #abb2bf;
}

div[data-mode-id="cpp"] .monaco-editor .bracket-highlighting-0 {
    color: #ffb86c;
    /* text-shadow: 0 0 10px #ffb86c; */
    font-family: "cascadia code";
}

div[data-mode-id="cpp"] .monaco-editor .bracket-highlighting-1 {
    color: #2cccff;
    /* text-shadow: 0 0 10px #2cccff; */
    font-family: "cascadia code";
}

div[data-mode-id="cpp"] .monaco-editor .bracket-highlighting-2 {
    color: #20e3b2;
    /* text-shadow: 0 0 10px #20e3b2; */
    font-family: "cascadia code";
}

div[data-mode-id="cpp"] .monaco-editor .bracket-highlighting-3 {
    color: #ff2ced;
    /* text-shadow: 0 0 10px #ff2ced; */
    font-family: "cascadia code";
}

div[data-mode-id="cpp"] .monaco-editor .bracket-highlighting-4 {
    color: #c850c0;
    /* text-shadow: 0 0 10px #c850c0; */
}

div[data-mode-id="cpp"] .monaco-editor .bracket-highlighting-5 {
    color: #4158d0;
    /* text-shadow: 0 0 10px #4158d0; */
}

/* CSS */

div[data-mode-id="css"] .monaco-editor .bracket-highlighting-0 {
    color: #ffb86c;
    text-shadow: 0 0 10px #ffb86c;
}

/* JAVA */

div[data-mode-id="java"] .mtk1 {
    color: #abb2bf;
}

div[data-mode-id="java"] .monaco-editor .bracket-highlighting-0 {
    color: #ffb86c;
}

div[data-mode-id="java"] .monaco-editor .bracket-highlighting-1 {
    color: #2cccff;
}

div[data-mode-id="java"] .monaco-editor .bracket-highlighting-2 {
    color: #20e3b2;
}

div[data-mode-id="java"] .monaco-editor .bracket-highlighting-3 {
    color: #ff2ced;
}

div[data-mode-id="java"] .monaco-editor .bracket-highlighting-4 {
    color: #c850c0;
}

div[data-mode-id="java"] .monaco-editor .bracket-highlighting-5 {
    color: #4158d0;
}

/* Lua */

div[data-mode-id="lua"] .mtk15 {
    color: #a485dd;
}

div[data-mode-id="lua"] .mtk1 {
    color: #ee6d85;
}

div[data-mode-id="lua"] .mtk14 {
    color: #dfae67;
}

/* color: transparent;
background-image: linear-gradient(-45deg,
    #fc6c8f,
    #ff2ced,
    #ffb86c,
    #2cccff,
    #20e3b2,
    #ffcc70,
    #c850c0,
    #4158d0);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent; */